/* Will be compiled down to a single stylesheet with your sass files */
/* line 18, ../../app/styles/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

/* line 27, ../../app/styles/_reset.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 36, ../../app/styles/_reset.scss */
audio:not([controls]) {
  display: none;
}

/* line 43, ../../app/styles/_reset.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 49, ../../app/styles/_reset.scss */
a:focus {
  outline: thin dotted #333333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 54, ../../app/styles/_reset.scss */
a:hover,
a:active {
  outline: 0;
}

/* line 62, ../../app/styles/_reset.scss */
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

/* line 68, ../../app/styles/_reset.scss */
sup {
  top: -0.5em;
}

/* line 71, ../../app/styles/_reset.scss */
sub {
  bottom: -0.25em;
}

/* line 78, ../../app/styles/_reset.scss */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 87, ../../app/styles/_reset.scss */
#mapCanvas label {
  width: auto;
  display: inline;
}

/* line 88, ../../app/styles/_reset.scss */
#mapCanvas img {
  max-width: none;
}

/* line 97, ../../app/styles/_reset.scss */
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}

/* line 103, ../../app/styles/_reset.scss */
button,
input {
  *overflow: visible;
  line-height: normal;
}

/* line 108, ../../app/styles/_reset.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 115, ../../app/styles/_reset.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/* line 119, ../../app/styles/_reset.scss */
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

/* line 126, ../../app/styles/_reset.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 129, ../../app/styles/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 8, ../../app/styles/_type.scss */
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: white;
}

/* line 20, ../../app/styles/_type.scss */
a {
  color: #0088cc;
  text-decoration: none;
}

/* line 24, ../../app/styles/_type.scss */
a:hover {
  color: #005580;
  text-decoration: underline;
}

/* line 33, ../../app/styles/_type.scss */
p {
  margin: 0 0 10px;
}

/* line 40, ../../app/styles/_type.scss */
small {
  font-size: 85%;
}

/* line 43, ../../app/styles/_type.scss */
strong {
  font-weight: bold;
}

/* line 46, ../../app/styles/_type.scss */
em {
  font-style: italic;
}

/* line 49, ../../app/styles/_type.scss */
cite {
  font-style: normal;
}

/* line 52, ../../app/styles/_type.scss */
.muted {
  color: #999999;
}

/* line 60, ../../app/styles/_type.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 1;
  color: inherit;
  text-rendering: optimizelegibility;
}
/* line 67, ../../app/styles/_type.scss */
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}

/* line 73, ../../app/styles/_type.scss */
h1 {
  font-size: 36px;
  line-height: 40px;
}

/* line 74, ../../app/styles/_type.scss */
h2 {
  font-size: 30px;
  line-height: 40px;
}

/* line 75, ../../app/styles/_type.scss */
h3 {
  font-size: 24px;
  line-height: 40px;
}

/* line 76, ../../app/styles/_type.scss */
h4 {
  font-size: 18px;
  line-height: 20px;
}

/* line 77, ../../app/styles/_type.scss */
h5 {
  font-size: 14px;
  line-height: 20px;
}

/* line 78, ../../app/styles/_type.scss */
h6 {
  font-size: 12px;
  line-height: 20px;
}

/* line 80, ../../app/styles/_type.scss */
h1 small {
  font-size: 24px;
}

/* line 81, ../../app/styles/_type.scss */
h2 small {
  font-size: 18px;
}

/* line 82, ../../app/styles/_type.scss */
h3 small {
  font-size: 14px;
}

/* line 83, ../../app/styles/_type.scss */
h4 small {
  font-size: 14px;
}

/* line 90, ../../app/styles/_type.scss */
ul, ol {
  padding: 0;
  margin: 0 0 10px 25px;
}

/* line 97, ../../app/styles/_type.scss */
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

/* line 100, ../../app/styles/_type.scss */
li {
  line-height: 20px;
}

/* line 104, ../../app/styles/_type.scss */
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}

/* line 110, ../../app/styles/_type.scss */
dl {
  margin-bottom: 20px;
}

/* line 114, ../../app/styles/_type.scss */
dt,
dd {
  line-height: 20px;
}

/* line 117, ../../app/styles/_type.scss */
dt {
  font-weight: bold;
}

/* line 120, ../../app/styles/_type.scss */
dd {
  margin-left: 10px;
}

/* line 125, ../../app/styles/_type.scss */
.dl-horizontal dt {
  float: left;
  width: 120px;
  clear: left;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 132, ../../app/styles/_type.scss */
.dl-horizontal dd {
  margin-left: 130px;
}

/* line 141, ../../app/styles/_type.scss */
hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid white;
}

/* line 149, ../../app/styles/_type.scss */
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #999999;
}

/* line 153, ../../app/styles/_type.scss */
abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

/* line 159, ../../app/styles/_type.scss */
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #eeeeee;
}
/* line 163, ../../app/styles/_type.scss */
blockquote p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}
/* line 167, ../../app/styles/_type.scss */
blockquote small {
  display: block;
  line-height: 20px;
  color: #999999;
}
/* line 171, ../../app/styles/_type.scss */
blockquote small:before {
  content: '\2014 \00A0';
}
/* line 177, ../../app/styles/_type.scss */
blockquote.pull-right {
  float: right;
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
}
/* line 184, ../../app/styles/_type.scss */
blockquote.pull-right p,
blockquote.pull-right small {
  text-align: right;
}
/* line 188, ../../app/styles/_type.scss */
blockquote.pull-right small:before {
  content: '';
}
/* line 191, ../../app/styles/_type.scss */
blockquote.pull-right small:after {
  content: '\00A0 \2014';
}

/* line 202, ../../app/styles/_type.scss */
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}

/* line 207, ../../app/styles/_type.scss */
address {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  line-height: 20px;
}

/* line 1, ../../app/styles/_author_styles.scss */
.container {
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}
/* line 15, ../../app/styles/_mixins.scss */
.container:before, .container:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 22, ../../app/styles/_mixins.scss */
.container:after {
  clear: both;
}

/* line 7, ../../app/styles/_utilities.scss */
.pull-right {
  float: right;
}

/* line 10, ../../app/styles/_utilities.scss */
.pull-left {
  float: left;
}

/* line 15, ../../app/styles/_utilities.scss */
.hide {
  display: none;
}

/* line 18, ../../app/styles/_utilities.scss */
.show {
  display: block;
}

/* line 23, ../../app/styles/_utilities.scss */
.invisible {
  visibility: hidden;
}

/* line 28, ../../app/styles/_utilities.scss */
.affix {
  position: fixed;
}

/* line 33, ../../app/styles/_utilities.scss */
.clearfix {
  *zoom: 1;
}
/* line 15, ../../app/styles/_mixins.scss */
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 22, ../../app/styles/_mixins.scss */
.clearfix:after {
  clear: both;
}

/* line 38, ../../app/styles/_utilities.scss */
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

/* line 43, ../../app/styles/_utilities.scss */
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
